* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
}

a:active,
a:link,
a:visited {
    color: #000;
}

a:hover {
    color: #444;
}

.highlight {
    border-bottom: solid 3px #88FFD1;
}

.container {
    margin: 0;
    padding: 0;
}

.wrap {
    margin: auto;
    padding: 0 20px;
}

.site-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 800;
}

.site-nav {
    margin: 40px 0;
}

.title-sect {
    margin: 140px 0 200px;
}

.work-cont {
    display: block;
}

.work-title {
    padding-bottom: 20px;
}

.proj-cont {
    background-color: #88FFD1;
    margin: 20px 0;
    display: grid;
}

.proj-img {
    display: block;
    width: 100%;
    height: auto;
}

.proj-title {
    text-align: center;
    align-self: end;
    padding: 10px 0;
    background: #fff;
    margin: 0;
    border: solid 1px #eee;
    margin-top: -2px;
    z-index: 9999;
}

.exp-sect,
.edu-sect {
    margin: 100px 0;
}

.exp-cont,
.edu-cont {
    border-bottom: solid 1px #eee;
    padding: 20px 0;
}

p {
    padding-top: 10px;
}

.contact-sect {
    text-align: center;
}

.copyright-sect {
    text-align: center;
}


@media screen and (min-width: 1024px) {
    .work-cont {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, auto);
        grid-gap: 10px;
        justify-items: stretch;
    }

    .proj-cont {
        margin: 0;
    }

    .exp-title,
    .edu-title {
        grid-column-start: span 3;
    }

    .exp-cont,
    .edu-cont {
        display: grid;
        grid-template-columns: 33% 33% auto;
        grid-template-rows: repeat(2, auto);
    }

    .right {
        text-align: right;
    }

    .middle {
        padding-left: 40%;
    }

}