    * {
        margin: 0;
        padding: 0;
    }

    body {
        font-family: 'Lato', sans-serif;
    }

    h1,
    h2,
    h3 {
        font-family: 'Playfair Display', serif;
    }

    a:active,
    a:link,
    a:visited {
        color: #000;
    }

    a:hover {
        color: #444;
    }

    .highlight {
        border-bottom: solid 3px #88FFD1;
    }

    .container {
        margin: 0;
        padding: 0;
    }

    .wrap {
        margin: auto;
        padding: 0 20px;
    }

    .site-title {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 800;
    }

    .site-nav {
        margin: 40px 0;
    }

    .title-sect {
        margin: 140px 0 200px;
    }

    .work-cont {
        display: block;
    }

    .work-title {
        padding-bottom: 20px;
    }

    .proj-img {
        background: #f1f1f1;
        margin: 10px 0;
        display: grid;
    }

    p {
        padding-top: 10px;
    }

    .contact-sect {
        text-align: center;
    }

    .copyright-sect {
        text-align: center;
    }

    .feat-img {
        display: none;
    }

    .img-feat {
        width: 100%;
    }

    .proj-copy {
        margin: 20px 0;
    }

    .pag-sect {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(1, auto);
        justify-content: space-between;
        margin: 100px 0;
    }

    .tags {
        font-style: italic;
        color: #444;
        padding: 0;
    }


    @media screen and (min-width: 1024px) {
        .work-cont {
            display: grid;
            grid-template-columns: repeat(2, 50%);
            grid-template-rows: repeat(2, auto);
            grid-gap: 10px;
            justify-items: stretch;
        }

        .proj-img {
            margin: 0;
        }

        .feat-img {
            grid-column-start: span 2;
            display: grid;
        }

    }