* {
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
body {
  margin-bottom: 1em;
  font-family: 'Lato', sans-serif;
  font-size: .9rem;
  background-color: #fff;
}
h1{
  font-family: 'Playfair Display', serif;
  font-size: 1.6rem;
  color:#000;
  font-weight: normal;
}
h2{
  font-family: 'Playfair Display', serif;
  font-size: 1.2rem;
  color:#000;
  font-weight: normal;
  display: block;
  position: relative;
}
a:link{
  text-decoration: none;
}
a:visited{
  color:#000;
}
a:link{
  font-weight:800;
  color:#000;
}
.line{
  border-bottom: solid 2px #88FFD1;
  width:50%;
  max-width: 200px;
  margin: 5px 0;
}
.main-wrap{
  width:85%;
  margin: auto;
}
.type-bold{
  font-weight:600;
}
.nav-list{
  list-style-type: none;
  text-align: right;
  margin:10px 0;
  z-index: 999;
}
.nav-list-item{
  display: inline;
  padding: 2px 5px;
}
.header{
  margin: 100px 0;
}
.tri-bg {
  position: absolute;
  z-index: -999;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 350px 1500px 0px 0;
  border-color: transparent #88FFD1 transparent transparent;
}
.highlight {
  border-bottom: solid 3px #88FFD1;
}
.flx-cont{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-between;
}
.flx-item{
  width: 350px;
  margin: 20px 0;
}
.feat-projects-img{
  display: block;
  width:100%;
  height:auto;
}
.feat-projects-content h2{
  padding: .5em 0 0 0;
}
.work-xp, .uni-xp, .contact{
  margin: 2em 0;
}
.work-xp h1, .uni-xp h1{
  padding-left: 7.5%;
  padding-right:7.5%;
}
.work-list, .uni-list{
  margin: 1em 0;
}
.work-item, .uni-item{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 20px 0;
  border-bottom: solid 1px #eee;
  padding-left: 7.5%;
  padding-right:7.5%;
}
.work-item:hover, .uni-item:hover{
  background-color: #88FFD1;
  transition: .15s ease-in;
}
.workplace, .university{
  flex: 3 1 100%;
}
.work-title, .degree-title{
  flex: 1 1 100%;
}
.work-location, .uni-location{
  flex: 1 1 100%;
}
.work-year, .uni-year{
  flex: 1 1 100%;
}
.contact h1{
  padding: 0 0 1em 0;
}
@media only screen and (min-width:960px){
h1{
  font-size: 3rem;
}
.feat-projects{
  transform: translateY(20px);
}
.nav-list-item{
  padding: 2px 35px;
}
.flx-item{
  width: 32%;
}
.workplace, .university{
  flex: 3 1 100%;
}
.work-title, .degree-title{
  flex: 1 1 40%;
}
.work-location, .uni-location{
  flex: 1 1 30%;
}
.work-year, .uni-year{
  flex: 1 1 30%;
  align-self: flex-end;
  text-align: right;
}
.contact h1{
  padding: 0 0 .25em 0;
}
}
